@mixin block() {
  display: inline-block;
  vertical-align: top;
}

@mixin inline-block-top() {
  display: inline-block;
  vertical-align: top;
}


@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
