.contest-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $basic-font-color;
  font-size: $basic-font-size;
  font-weight: 400;
  font-family: $font-family;
  background-color: $main-bg-color;
  margin-bottom: 42px;
  box-sizing: border-box;
}

.contest-form__user-details {
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  box-sizing: border-box;
}

.contest-form__user-achievements {
  padding-top: 37px;
  padding-bottom: 18px;
  box-sizing: border-box;
}

.contest-form__achievements-title {
  padding-left: $default-padding;
  padding-right: $default-padding;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.contest-form__user-achievements  li {
  margin-bottom: 28px;
}

.contest-form__user-contacts {
  padding-top: 35px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.contest-form__os-checker {
  padding-top: 35px;
  padding-bottom: 40px;
}

.contest-form__os-checker  .container {
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}


.contest-form__os-checker  label {
  margin-top: 25px;

  &:nth-child(2) {
    margin-top: 22px;
  }
}

.contest-form__os-title {
  margin-left: 0;
}

.contest-form__user-review  {
  padding-top: 55px;
  padding-bottom: $default-padding;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  text-align: center;
}

.contest-form__legend {
  color: $decoration-font-color;
  @include inline-block-top;
  font-size: $legend-font-size;
  padding-left: 22px;
  text-transform: uppercase;
}

.contest-form__user-contacts-legend,
.contest-form__review-title,
.contest-form__os-title,
.contest-form__legend,
.contest-form__achievements-title {
  color: $decoration-font-color;
  font-size: $legend-font-size;
  text-align: center;
  text-transform: uppercase;
}

.contest-form__user-contacts-legend {
  display: none;
}

.contest-form  input[type="text"] {
  margin-top: 7px;

  &:last-child {
    margin-top: 13px;
  }
}

.contest-form  input[type="email"],
.contest-form  input[type="text"],
.contest-form  input[type="tel"] {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 30px;
  font-weight: 400;
  font-family: $font-family;
  border: $field-border;
  border-radius: $field-border-radius;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 24px;
  margin-bottom: 24px;
  width: 100%;
  box-sizing: border-box;
  outline: none;

  &:hover {
      border: $field-hover-border;
  }

  &:focus {
    border: $field-active-border;
  }
}

.contest-form  input[type="text"] {
  margin-top: 7px;

  &:last-child {
    margin-top: 13px;
    margin-bottom: 20px;
  }
}

.contest-form  input[type="tel"] {
  margin-top: 8px;
}

.contest-form  input[type="email"] {
  margin-top: 9px;
}

.contest-form  input::-webkit-input-placeholder {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 30px;
  font-weight: 400;
  font-family: $font-family;
}

.contest-form  input:-moz-placeholder {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 30px;
  font-weight: 400;
  font-family: $font-family;
}

.contest-form  textarea[name="review"] {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-top: 15px;
  margin-bottom: 22px;
  min-height: 200px;
  border: $field-border;
  border-radius: $field-border-radius;
  padding-top: 15px;
  padding-bottom: $default-padding;
  padding-left: 15px;
  padding-right: $default-padding;
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 32px;
  font-weight: 400;
  font-family: $font-family;
  text-align: center;
  outline: none;

  &:hover {
    border: $field-hover-border;
  }
  &:focus {
    border: $field-active-border;
  }
}

.contest-form  textarea:-moz-placeholder,
.contest-form  textarea::-webkit-input-placeholder {
  color: $basic-font-color;
  font-size: $form-options-font-size;
  line-height: 32px;
  font-weight: 400;
  font-family: $font-family;
  text-align: center;
}

.contest-form__user-achievements  label,
.contest-form__os-checker  label {
  @include inline-block-top;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
  padding-left: 70px;
  font-size: $form-options-font-size;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 35px;
    height: 35px;
    background: $main-bg-color;
    border: $field-border;
  }

  &:hover::before {
    border: $field-hover-border;
  }

  &:active::before {
    border: $field-active-border;
  }
}

.contest-form__os-checker  label::before {
  border-radius: 50%;
}

.contest-form__user-achievements  label::before {
  border-radius: $field-border-radius;
}

.contest-form__os-checker  input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: $decoration-font-color;
  border-radius: 50%;
}

.contest-form__user-achievements   input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: $decoration-font-color;
  background: url("../img/icon-yes.svg") no-repeat center;
}

.contest-form__user-achievements  input,
.contest-form__os-checker  input {
  display: none;
}

.contest-form__os-checker,
.contest-form__user-achievements {
  background-color: $extra-bg-color;
}

.contest-form__user-achievements ul,
.contest-form__os-checker ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.contest-form__user-achievements li,
.contest-form__os-checker li {
  font-size: $basic-font-size;
  padding-top: 20px;
  padding-bottom: 10px;
}

.contest-form__warning {
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
}

.contest-form__warning  b {
  color: $decoration-font-color;
}

.contest-form__warning--desktop,
.contest-form__legend--not-mobile {
  display: none;
}

fieldset,
legend {
  @include inline-block-top;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}


@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .contest-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 620px;
    box-sizing: border-box;
  }

  .contest-form__legend {
    padding-left: 0;
  }

  .contest-form__user-details {
    order: -5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
  }

  .contest-form__user-details  input[type="text"] {
    box-sizing: border-box;
    width: 565px;
    margin-bottom: 35px;

    &:nth-child(2) {
      margin-bottom: 47px;
      width: 525px;
    }

    &:nth-child(6) {
      margin-bottom: 15px;
      width: 525px;
    }
  }

  .contest-form__user-details  label {
    margin-bottom: 35px;

    &:nth-child(5) {
      margin-bottom: 5px;
    }
  }

  .contest-form__os-checker {
    order: -4;
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    box-sizing: border-box;
    background-color: $main-bg-color;
  }

  .contest-form__os-checker  legend {
    display: block;
    width: 366px;
    text-align: center;
    margin-left: 130px;
  }

  .contest-form__user-review  fieldset,
  .contest-form__user-achievements  fieldset,
  .contest-form__user-contacts  fieldset,
  .contest-form__os-checker  fieldset {
    border: $field-border;
  }

  .contest-form__user-achievements  fieldset {
    width: 100%;
  }

  .contest-form__os-checker  ul {
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 50px;
  }

  .contest-form__os-checker  label {
    padding-left: 55px;
  }

  .contest-form__user-contacts-legend {
    display: block;
    width: 260px;
    margin-left: 125px;
  }

  .contest-form__user-contacts {
    order: -3;
    margin-top: 22px;
    padding-left: 0;
    padding-right: 0;
  }

  .contest-form__field--mobile {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 2px;
      top: -77px;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-phone.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .contest-form__field--email {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 2px;
      top: -77px;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-mail.svg");
      background-position: center;
      background-repeat: no-repeat;
      z-index: 50;
    }
  }

  .contest-form__user-contacts  fieldset {
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 30px;
  }

  .contest-form__user-contacts-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
  }

  .contest-form__legend--mobile {
    display: none;
  }

  .contest-form__legend--not-mobile {
    display: inline;
    padding-left: 20px;
  }

  .contest-form__user-achievements {
    background-color: $main-bg-color;
    padding-top: 25px;
  }

  .contest-form__user-achievements  label {
    padding-left: 55px;
  }

  .contest-form__user-review {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .contest-form__submit-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;
    margin-bottom: 25px;
    box-sizing: border-box;
  }

  .contest-form__warning {
    padding: 0;
  }

  .contest-form__submit-form {
    width: 300px;
    box-sizing: border-box;
    padding: 0;
  }

  .contest-form  input[type="email"],
  .contest-form  input[type="tel"] {
    padding-right: 70px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__field:nth-child(2) {
    order: -4;
    margin: 0;
    margin-bottom: 15px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__legend:nth-child(1) {
    order: -3;
    margin: 0;
    text-align: left;
    margin-bottom: 33px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__legend:nth-child(3) {
    margin: 0;
    text-align: left;
    margin-top: 15px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__field:nth-child(4) {
    order: -2;
    margin: 0;
  }

  .contest-form__user-achievements  .container {
    box-sizing: border-box;
    padding-right: 0;
    padding-left: 0;
  }

  .contest-form__user-achievements  legend {
    display: block;
    padding: 0;
    width: 430px;
    margin-left: 50px;

  }

  .contest-form__user-achievements  fieldset {
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 15px;
  }

  .contest-form__user-review  legend {
    display: block;
    padding: 0;
    width: 260px;
    margin-left: 120px;
  }

  .contest-form__user-review  fieldset {
    padding-left:  60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .contest-form  textarea[name="review"] {
    min-height: 193px;
  }
}


@media (min-width: $desktop-widths) {
  .contest-form {
    @include desktop-container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .contest-form__user-details {
    order: -5;
    margin-top: 30px;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-top: 5px;
    padding-right: 0;
    width: 440px;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .contest-form__user-details  .contest-form__legend {
    padding-left: 0;
  }

  .contest-form__user-details  input[type="text"] {
    box-sizing: border-box;
    width: 380px;
    margin-bottom: 35px;

    &:nth-child(2) {
      margin-bottom: 45px;
      width: 340px;
    }

    &:nth-child(6) {
      margin-bottom: 30px;
      width: 340px;
    }
  }


  .contest-form__user-details  label {
    margin-bottom: 35px;

    &:nth-child(5) {
      margin-bottom: 18px;
    }
  }

  .contest-form__field--mobile {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: -43px;
      top: -75px;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-phone.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .contest-form__field--email {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 2px;
      top: -75px;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-mail.svg");
      background-position: center;
      background-repeat: no-repeat;
      z-index: 50;
    }
  }

  .contest-form  input[type="email"],
  .contest-form  input[type="tel"] {
    padding-right: 70px;
  }

  .contest-form__os-checker {
    order: -4;
    margin: 0;
    margin-top: 30px;
    padding:  0;
    width: 440px;
    box-sizing: border-box;
    background-color: $main-bg-color;
    margin-bottom: 0;
  }

  .contest-form__os-checker  legend {
    display: block;
    width: 366px;
    margin-left: 35px;

  }
  .contest-form__user-review  fieldset,
  .contest-form__user-achievements  fieldset,
  .contest-form__user-contacts  fieldset,
  .contest-form__os-checker  fieldset {
    border: $field-border;
  }

  .contest-form__os-checker  .container {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .contest-form__os-checker  ul {
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }

  .contest-form__user-contacts {
    order: -3;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
  }

  .contest-form__user-contacts-legend {
    display: block;
    width: 260px;
    margin-left: 265px;
  }

  .contest-form__legend--mobile {
    display: none;
  }

  .contest-form__legend--not-mobile {
    display: inline;
    padding-left: 0;
  }

  .contest-form__user-contacts  fieldset {
    padding-left: 60px;
    padding-right: 55px;
    padding-bottom: 20px;
    padding-top: 5px;
    box-sizing: border-box;
  }

  .contest-form__user-contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 31px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__field:nth-child(2) {
    order: -4;
    margin: 0;
    width: 370px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__legend:nth-child(1) {
    order: -2;
    margin: 0;
    text-align: left;
    padding-left: 25px;
    margin-top: 13px;
    width: 300px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__legend:nth-child(3) {
    order: -1;
    margin: 0;
    text-align: left;
    margin-top: 13px;
    width: 355px;
  }

  .contest-form__user-contacts-wrapper  .contest-form__field:nth-child(4) {
    order: -3;
    margin: 0;
    width: 370px;
  }

  .contest-form__user-achievements  legend {
    display: block;
    padding: 0;
    width: 430px;
    margin-left: 250px;
  }

  .contest-form__user-achievements {
    background-color: $main-bg-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 20px;
  }

  .contest-form__user-achievements  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .contest-form__user-achievements  li {
    display: inline-block;
    width: 260px;
    margin-left: 51px;
    box-sizing: border-box;

    &:first-child {
      order: -6;
    }

    &:nth-child(3) {
      order: -5;
    }

    &:nth-child(5) {
      order: -4;
    }
  }

  .contest-form__user-achievements  label {
    padding-left: 60px;
  }

  .contest-form__user-achievements  fieldset {
     padding: 0;
     padding-bottom: 25px;
  }

  .contest-form__user-achievements  ul {
    margin-left: 0;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .contest-form__user-review  .container {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .contest-form__user-review  legend {
    display: block;
    padding: 0;
    width: 260px;
    margin-left: 270px;
  }

  .contest-form__user-review {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    box-sizing: border-box;
  }

  .contest-form__user-review  fieldset {
    padding-top: 18px;
    padding-left: 60px;
    padding-right: 55px;
    padding-bottom: 18px;
    box-sizing: border-box;
  }

  .contest-form  textarea::-webkit-input-placeholder {
    text-align: left;
  }

  .contest-form  textarea:-moz-placeholder {
    text-align: left;
  }

  .contest-form  textarea[name="review"] {
    min-height: 125px;
    resize: vertical;
  }

  .contest-form__submit-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;
    box-sizing: border-box;
  }

  .contest-form__warning--desktop {
    display: inline;
  }
  .contest-form__warning {
    padding: 0;
  }

  .contest-form__submit-footer {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .contest-form__submit-form {
    width: 300px;
  }
}
