.features {
  text-align: center;
  font-family: $font-family;
  color: $basic-font-color;
  padding-top: 48px;
  box-sizing: border-box;
  background-color: $extra-bg-color;



  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
  }

  &__item-img {
  display: none;
  }

  &__img--desktop-add1,
  &__img--desktop-add2 {
    display: none;
  }

  &__item p {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &__item p:last-child {
    margin-top: 12px;
    margin-bottom: 30px;
  }

  &__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $title-font-color;
  }

  &__item-descr {
    font-weight: 400;
    font-size: $basic-font-size;
    line-height: 24px;
    margin-bottom: 25px;
  }

  &__img {
    margin-top: 40px;
    height: 280px;
    font-size: 0;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat top;
    @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.jpg");
    }
  }

}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .features {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-top: 12px;
    position: relative;

    &__list {
      padding-left: 305px;
      box-sizing: border-box;
    }
    &__img {
      position: absolute;
      width: 268px;
      height: 481px;
      left: 12px;
      top: -95px;
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat top;
      @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.jpg");
      }
    }
    
    &__item {
      text-align: left;
    }

    &__item-title {
      margin-bottom: 5px;
      display: inline-block;
    }
  }
}


@media (min-width: $desktop-widths) {

  .features {
    padding: 0;
    margin: 0;

    &__img {
      display: none;
    }

    &__item-img {
      display: block;
      margin-bottom: 55px;
    }

    &__list {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
    }

    &__item {
      width: 280px;
      display: inline-block;
      z-index: 100;
      text-align: center;
    }

    &__item-title {
      font-size: 30px;
      line-height: 30px;
    }

    &__item-descr {
      font-size: 18px;
      line-height: 30px;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px
    }
  }
}
