.feedback {
  padding-top: 42px;
  padding-left: $default-padding;
  padding-right: $default-padding;
  font-family: $font-family;
  text-align: center;
  font-size: $basic-font-size;
  line-height: 30px;
  color: $basic-font-color;
  background-color: $main-bg-color;
  box-sizing: border-box;
}

.feedback__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}

.feedback__item-additional,
.feedback__item:nth-child(n+2) {
  display: none;
}


.feedback__item-title {
  color: $title-font-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.feedback__item-descr {
  font-weight: 400;
  font-size: $basic-font-size;
}

.feedback__wrapper input {
  display: none;
}

.feedback__wrapper label {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 3px solid #ffffff;
  background: #bec2c7;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
}

#feedback-input-1:checked ~ .feedback__wrapper label[for="feedback-input-1"],
#feedback-input-2:checked ~ .feedback__wrapper label[for="feedback-input-2"],
#feedback-input-2:checked ~ .feedback__wrapper label[for="feedback-input-3"] {
  background: #ffffff;
}


@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .feedback__item-additional {
    display: block;
  }
  .feedback__item {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}


@media (min-width: $desktop-widths) {
  .feedback__item-additional {
    display: block;
  }
  .feedback__item {
    padding-top: 180px;
    padding-bottom: 120px;
  }
}
