.logo-inline {
  &:active {
    opacity: 0.3;
  }

  &:hover {
    &:not(:active) {
      path {
        fill: #d22856;
      }
    }
  }

  &--small {
    position: relative;
      margin-left: -71px;
      margin-top: -18px;

      .small-hidden {
        display: none;
      }
  }
  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .logo-inline {
    &--small {
      position: relative;
        margin-left: 0;
        margin-top: -18px;

        .small-hidden {
          display: block;
        }
    }
  }
}

@media (min-width: $desktop-widths) {
  .logo-inline {
    &--small {
      display: none;
    }
    &--desktop {
      display: block;
    }
  }
}
