.main-header {
  position: relative;
  text-align: center;
  color: #fff;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") top center no-repeat;
  -webkit-background-size:  auto 472px;
  background-size: auto 472px;
  @include clearfix;
}

.main-header__wrapper {
  @include clearfix;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header__wrapper-inner {
  @include clearfix;
}

.page-header__logo {
  float: left;
  margin: 22px 20px;

}
.page-header__logo-link {
  display: block;
}

.page-header__title {
  min-height: 110px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 20px;
  font-family: $font-family;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

.logo-svg {
  &:active {
    opacity: 0.3;
  }

  &:hover {
    &:not(:active) {
      path {
        fill: #d22856;
      }
    }
  }

  &--small {
    position: relative;
      margin-left: -71px;
      margin-top: -18px;

      .small-hidden {
        display: none;
      }
  }
  &--desktop {
    display: none;
  }
}
