.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  box-sizing: border-box;
  &__descr {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: $basic-font-size;
    line-height: 30px;
    font-family: $font-family;
    text-align: center;
    color: $basic-font-color;
    background-color: $main-bg-color;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .promo__descr {
    padding-top: 55px;
    padding-right: 80px;
    padding-bottom: 38px;
    padding-left: 80px;
    font-size: $basic-tablet-font-size;
    line-height: 30px;
  }
}

@media (min-width: $desktop-widths) {
  .promo__descr {
    padding-top: 55px;
    padding-right: 150px;
    padding-bottom: 52px;
    padding-left: 150px;
    font-size: $basic-desktop-font-size;
  }
}
