.rewiews {
  font-family: $font-family;
  text-align: center;
  font-size: $basic-font-size;
  line-height: 30px;
  color: $basic-font-color;
  background-color: $main-bg-color;
  box-sizing: border-box;
  padding-top: 40px;
}

.rewiews__item-additional {
  display: none;

}
.rewiews__item-title {
  color: $title-font-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
}

.rewiews__item-descr {
  font-weight: 400;
  font-size: $basic-font-size;
  box-sizing: border-box;
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .rewiews {
    padding-top: 50px;

    &__item-additional {
      display: block;
      font-size: 14px;
      line-height: 30px;
    }

    &__item-title {
      font-size: 20px;
      line-height: 30px;
      margin-top: 20px;
      padding-left: 5px;
    }

    &__item-descr {
      font-size: 18px;
      line-height: 30px;
      order: -4;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

  }
}

@media (min-width: $desktop-widths) {
  .rewiews {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 80px;
    padding-top: 170px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    &__item-additional {
      display: block;
      font-size: 18px;
      line-height: 30px;
    }

    &__item-descr {
      order: -4;
      font-size: 18px;
      line-height: 30px;
      padding-left: 80px;
      padding-right: 80px;
      box-sizing: border-box;

    }

    &__item-title {
      font-size: 24px;
      line-height: 30px;
      margin-top: 20px;
      padding-left: 5px;
    }
  }
}
